@font-face {
    font-family: 'Orbitron';
    src: url('fonts/static/Orbitron-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('fonts/static/Orbitron-Bold.ttf') format('truetype');
    font-weight: bold;
}
body{
    font-family: 'Orbitron', sans-serif;
}
@keyframes glow {
    0% { text-shadow: 0 0 10px #0baf24; }
    50% { text-shadow: 0 0 20px rgb(71, 229, 23); }
    100% { text-shadow: 0 0 10px #20bf30; }
}
#diaMes{
    appearance: none;
    background-color: #000000;
    border: 2px solid #0f0;
    border-radius: 10px;
    color: #0f0;
    padding: 10px 40px 10px 20px;
    font-size: 1.2em;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

#diaMes:hover {
    background-color: #333;
    border-color: #0ff;
    color: #0ff;
}

#diaMes:focus {
    box-shadow: 0 0 10px #0ff;
}

#diaMes::after {
    content: '▼';
    font-size: 1.2em;
    color: #0f0;
    position: absolute;
    right: 10px;
    pointer-events: none;
}
input{
    appearance: none;
    background-color: #222;
    border: 1px solid #0f0;
    border-radius: 10px;
    color: #0f0;
    padding: 10px 40px 10px 20px;
    font-size: 1.2em;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

input:hover {
    background-color: #333333;
    border-color: #0ff;
    color: #0ff;
}

input:focus {
    box-shadow: 0 0 10px #0ff;
}

input::after {
    content: '▼';
    font-size: 1.2em;
    color: #0f0;
    position: absolute;
    right: 10px;
    pointer-events: none;
}

#espaco {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color: #000000;
    border: 1px solid rgb(0, 174, 255);
    /*height: 100vh;  Para ocupar a altura total da janela */
    
}   
#dinheiroTotal {
    margin: 1px;
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    /*animation: glow 1s ease-in-out infinite;  Aplica a animação de brilho */
    background-color: black;
    color: rgb(31, 180, 230);
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    border: 1px solid rgb(31, 180, 230);
}
#ganho{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: rgb(52, 194, 71);
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    grid-area: 2/2/4/3;
    border-top: 1px solid green;
}
#gasto{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: rgb(204, 21, 46);
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    grid-area: 2/4/4/5;
    border-top: 1px solid rgb(255, 0, 0);
}
#informacoes{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: rgb(31, 180, 230);
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    grid-area: 2/3/5/4;
    border: 1px solid rgb(31, 180, 230);
}   
#tabela {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 6;
    border: 1px solid green;
    margin-top: 20px; /* Espaço acima da tabela */
    padding: 20px;
    background-color: #f0f0f0;
}
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}
@media (max-width: 1024px) {
    body {
        font-family: 'Orbitron', sans-serif;
    }
    
    #espaco {
        margin: 0;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        width: 100%; /* Garante que o conteúdo ocupe toda a largura */
        height: auto; /* Permite que o conteúdo tenha altura variável conforme o conteúdo */
        overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se necessário */
    }

    #dinheiroTotal {
        color: aqua;
        grid-column-start: 1;
        grid-column-end: 6; /* Expandir para ocupar todas as colunas */
    }

    #ganho {
        color: rgb(4, 209, 55);
        grid-area: 3/1/4/4; /* Ajustar a área na grade */
    }

    #gasto {
        background-color: rgba(0, 0, 0, 0.2);
        color: rgb(255, 0, 0);
        grid-area: 3/4/4/7; /* Ajustar a área na grade */
    }

    #informacoes {
        color: rgb(31, 180, 230);
        grid-area: 4/2/5/6; /* Ajustar a área na grade */
    }

    #tabela {
        grid-row-start: 5;
        grid-column-start: 1;
        grid-column-end: 6;
        border: 1px solid green;
        margin-top: 20px;
        padding: 20px;
        background-color: #f0f0f0;
        overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se necessário */
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }
}
